<h3>編輯學生資料</h3>
<hr>

<%= form_for [@gradeclass, @student] do |f| %>
  <div class="group">  
    <%= f.label :number, '座號' %>
    <%= f.text_field :number %>
  </div>
  <div class="group">
    <%= f.label :name, '姓名' %>
    <%= f.text_field :name %>
  </div>
  <div class="group">
    <%= f.fields_for :scores do |s| %>
      <%= s.label :score, '分數' %>
      <%= s.text_field :score %>
    <% end %>
  </div>
  <div class="group">
    <%= f.submit '編輯學生' %>
  </div>  
<% end %>