<div class="container-fluid">
  <div class="col-md-5">
    <h3><%= @student.name %>的評量成績</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>科目</th>
          <th>分數</th>
        </tr>
      </thead>

      <% @student.scores.each do |score| %>
        <tbody>
          <tr>
            <td>
              
            </td>
            <td></td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <div class="well">
      <form>
      <%= form_for [@gradeclass, @student, @score] do |f| %>
        <div class="form-group">
          <%= f.label :score %>
          
          <%= f.text_field :score, class: "form-control", style: "width: 50%;" %>
          
        </div>
        <%= f.submit '確定', class: 'btn btn-success' %>
      <% end %>
    </form>
    </div>
  </div>
</div>